---
import Layout from '../layouts/Layout.astro';
import Catalog from '../components/Catalog.astro';
import Cart from '../components/Cart.astro';
---

<Layout title="Pide tu postre">
    <main class="px-10 max-w-380 flex flex-col sm:flex-row gap-8 w-screen sm:w-full h-full bg-fm-rose-100 p-10">
        <Catalog />
        <Cart />
    </main>
</Layout>
