---
import EmptyCart from "./EmptyCart.astro";
---

<section class="w-full sm:w-1/3 h-fit bg-white rounded-xl p-5 flex flex-col justify-center sticky"> 
    <h2 class="text-fm-red text-2xl font-bold">Your Cart (0)</h2>
    <EmptyCart />
</section>